@import url('objects.scss');

body {
  font-family: 'Menlo', Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(-45deg, #4e1c9e, #23479b, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;

  game {
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 15px solid #0000001a;

    background-image: url(../images/background.png);
    image-rendering: pixelated;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;

    topbar {
      background: #248c76;
      height: 65px;
      width: 100%;
      display: inline-flex;
      position: relative;

      healthbar {
        background-image: url(../images/meter1.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 182px;
        height: 36px;
        overflow: hidden;
        background-position-y: -306px;
        background-size: 182px;
        margin: 16px;
        left: 20px;
        image-rendering: pixelated;
      }

      scoreboard {
        position: absolute;
        font-size: 25px;
        text-shadow: 0px 3px 0px rgba(25, 51, 37, 1);
        color: rgb(30, 222, 126);
        right: 20px;
        font-weight: 800;
        margin: 20px;
      }
    }

    finalscore {
      background-color: #000000;
      width: 400px;
      height: 200px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      padding: 20px;

      span {
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        padding: 25px;
        margin: auto;
        position: relative;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
