player {
  background-image: url(../img/player.gif);
  background-repeat: repeat-y !important;
  width: 60px;
  height: 75px;
  background-size: 75px;
  background-position-x: -5px;
  display: block;
  position: absolute;
}

ghost {
  width: 65px;
  height: 65px;
  background-size: 65px;
  background-image: url(../img/ghost.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

slime {
  width: 65px;
  height: 55px;
  background-size: 65px;
  background-position-y: -10px;
  background-image: url(../img/slime.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

skeleton {
  width: 65px;
  height: 65px;
  background-size: 65px;
  background-image: url(../img/skeleton.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

eye {
  width: 65px;
  height: 50px;
  background-position-y: -10px;
  background-size: 65px;
  background-image: url(../img/eye.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

firebolt {
  width: 65px;
  height: 65px;
  background-position-y: -10px;
  background-size: 65px;
  background-image: url(../img/powerup.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

coin {
  width: 65px;
  height: 65px;
  background-position-y: -10px;
  background-size: 65px;
  background-image: url(../img/coin.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

fireball {
  width: 60px;
  height: 20px;
  background-position-y: -25px;
  background-size: 65px;
  background-image: url(../img/fireball.gif);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
