$object-width: 6%;
$object-height: 15%;

player,
ghost,
slime,
skeleton,
eye,
special,
coin,
fireball,
heart {
  min-width: 75px;
  width: $object-width;
  height: $object-height;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  position: absolute;
  display: block;
}

player {
  background-image: url(../img/player.gif);
}

ghost {
  background-image: url(../img/ghost.gif);
}

slime {
  height: 10%;
  background-image: url(../img/slime.gif);
}

skeleton {
  background-image: url(../img/skeleton.gif);
}

eye {
  height: 10%;
  background-image: url(../img/eye.gif);
}

special {
  background-image: url(../img/powerup.gif);
}

coin {
  background-image: url(../img/coin.gif);
}

fireball {
  background-image: url(../img/fireball.gif);
}

heart {
  background-image: url(../img/heart.gif);
}
