topbar {
  background: #248c76;
  height: 100px;
  width: 100%;
  display: inline-flex;
  position: fixed;

  healthbar,
  scoreboard {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  healthbar {
    left: 5%;
    width: 15%;
    height: 40%;
    min-width: 200px;
    overflow: hidden;
    background-image: url(../img/meter.png);
    background-repeat: no-repeat;
    background-position-y: -336px;
    background-size: 100%;
    image-rendering: pixelated;
  }

  scoreboard {
    right: 5%;
    position: absolute;
    font-size: 30px;
    text-shadow: 0px 5px 0px rgba(25, 51, 37, 1);
    color: rgb(30, 222, 126);
    font-weight: 800;
  }
}
